$blue = #6264FF
$green = #19E292

@font-face
  font-family: 'Fugue Mono KB'
  src: url('app/styles/fonts/fugue_mono_kb-webfont.eot')
  src: url('app/styles/fonts/fugue_mono_kb-webfont.eot?#iefix') format('embedded-opentype'),
       url('app/styles/fonts/fugue_mono_kb-webfont.woff2') format('woff2'),
       url('app/styles/fonts/fugue_mono_kb-webfont.woff') format('woff'),
       url('app/styles/fonts/fugue_mono_kb-webfont.ttf') format('truetype')
  font-weight: normal
  font-style: normal


// $font-family-body = 'Fugue Mono KB'
// $font-family-header = 'Fugue Mono KB'
$font-family-body = 'Fugue Mono KB'
$font-family-header = 'Fugue Mono KB'
$font-medium = 20px
