.listWrap
  background: #eee

.list
  padding: 10px
  max-height: 80vh
  list-style: none
  min-width: 350px
  overflow: auto
  padding-left: 0
  h2
    text-align: center
.filters
  padding: 10px
  display: flex
  justify-content: space-between
  background: #777

.filterLabel
  color: white

.sortButton
  background: #fff
  color: #333
  display: inline-block
  border: none
  padding: 0 5px
  &.sortButtonActive
    background: #F9E3A7

.textFilter
  border: none
  padding: 2px 5px
  max-width: 150px

.filterFlags
  display: flex
  align-items: center

.filterFlagsButton
  border-radius: 50%
  display: flex
  justify-content: center
  align-items: center
  margin: 0 5px
  padding: 2px
  border: none
  background: #eee
  &.filterFlagsButtonActive
    background: #fff
    fill: #ff7200